body{
    font-family: 'Uchen', serif;
    
}
h1{
    font-size: 50px;
    }
    .color{
        color: orangered;
    }
    .flexible-container{
        display: flex;
        margin-bottom: 100px;
    }
    .half-width{
        width: 50%;

    }
    .half-width img{
        width: 90%;
         padding-right: 30%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(springgreen,turquoise);
        color: rgb(185, 18, 180);
        font-weight: 700;
        padding: 10px 30px;
        border-radius: 5px;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    .mid-banner{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .bottom-banner{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    .difference-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 20px;
        border-radius: 5px;
        box-shadow: 10px 10px 40px gray;
        border-left: 7px solid lightseagreen;
    }
    #diffrent-border{
        border-left: 7px solid;
        border-image: linear-gradient(blue,cyan);
        border-image-slice: 1;
    }
    footer p{
        text-align: center;
    }