body{
    font-family: 'Uchen', serif;
    
}
h1{
    font-size: 50px;
    }
    .color{
        color: orangered;
    }
    section{
        display: flex;
    }
    .half-width{
        width: 50%;
    }
    .half-width img{
        width: 100%;
        padding-left: 10%;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(springgreen,turquoise);
        color: rgb(185, 18, 180);
        font-weight: 700;
        padding: 10px 30px;
        border-radius: 5px;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }